# Service name
#
SERVICE_NAME=joomla
IP_ADDRESS=0.0.0.0
EXTERNAL_PORT=1948

# Container name
# Summary container name in docker-compose.yml will be "${SERVICE_NAME}_${CONTAINER_NAME-*}"
#
CONTAINER_NAME_JOOMLA=server
CONTAINER_NAME_MYSQL=joomladb
CONTAINER_NAME_BACKUP=backup

# Docker images
#

DOCKER_IMAGE_JOOMLA=joomla
DOCKER_IMAGE_MYSQL=mysql:5.6
DOCKER_IMAGE_BACKUP=vasyakrg/backup

# DB
DB_HOST=joomladb
DB_PASS=<you-pass>
DB_USER=root
DB_NAME=joomladb

# Backup settings
#
B2_PATH=<path-to-blaze>
BACKUP_DIR=/var/www/html
BACKUP_SCHEDULE=5 5 * * Sun

SERVICE_DATA=/srv/services/data

# Network names
#
SERVICE_NETWORK=joomla
